.card {
  position: relative;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vw;
}
.title {
  font-size: 3vw;
}
.imgPlan {
  width: auto;
  height: 30vw;
  border-radius: 4vw;
}
.ull {
  font-size: 1.3vw;
}
