.circle {
  height: 56px;
  width: 56px;
  background-color: rgba(255, 161, 74, 1);
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  
}
.fill {
  margin-top: 21px;
  margin-right: 10px;
  height: 56px;
  width: 56px;
  background-color: rgba(255, 161, 74, 1);
  border-radius: 50%;
  text-align: center;
  border: 5px solid rgb(0, 255, 21);
  box-sizing: border-box;
}
.card {
  position: relative;
  bottom: 26px;
}
.card1 {
  padding-top: 15px;
  font-size: 18px;
  font-weight: normal;
}
.cardDel {
  position: relative;
  bottom: 5px;
}