@import url("https://fonts.googleapis.com/css2?family=Anton&family=Charis+SIL&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Charis+SIL&family=Inter&family=Open+Sans:ital,wght@0,500;1,300&display=swap");
body {
  margin: 0;
  background: url("../../img/фон.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vw;
  font-family: "Anton", sans-serif;
  background-color: rgba(240, 240, 240, 1);
}
.header {
  height: 3.7vw;
  background-color: rgba(226, 199, 101, 1);
}
.img1 {
  margin-left: 5%;
}
.cardIcone{
  width: auto;
  height: 3.5vw;
}
.cardText {
  width: 1.5vw;
  width: 30%;
}
.card {
  position: absolute;
  display: flex;
  align-items: center;
  float: left;
  width: 30%;
}
.p {
  font-family: "Anton", sans-serif;
  font-family: "Charis SIL", serif;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
    font-size: 1.5vw;
  height: 15px;
  margin-left: 10%;
}
.card2 {
  height: 29px;
  width: 147px;
  background-color: rgba(255, 143, 107, 1);
  border: 2px solid rgba(71, 71, 71, 1);
  border-radius: 30px;
  text-align: center;
}
.a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
